/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/dist/
/OlaMundoJavaFX/build/
/OlaMundoFX/nbproject/private/
/OlaMundoFX/build/
/OlaMundoFX/dist/
/RelogioSwing/nbproject/private/
/RelogioSwingJava/nbproject/private/
/RelogioSwingJava/build/
